.ALT-TAG:after{
	content:"Alt";
}
.CMD-TAG:after{
	content:"Ctrl";
}
.CTRL-TAG:after{
	content:"\\";
}
.DEL-TAG:after{
	content:"Delete";
}
.ESC-TAG:after{
	content:"Esc";
}
.SHIFT-TAG:after{
	content:"Shift";
}
.TAB-TAG:after{
	content:"Tab";
}
.RETURN-TAG:after{
	content:"Return";
}
.UP-TAG:after{
	content:"Вверх";
}
.DOWN-TAG:after{
	content:"Вниз";
}
.LEFT-TAG:after{
	content:"Влево";
}
.RIGHT-TAG:after{
	content:"Вправо";
}
.BACKSPACE:after {
	content: "Backspace";
}
.CLICK-TAG:after {
  content: "Вправо";
}
